x-default: &default
  networks:
    - traefik-net
  # cpus: 0.5
  # mem_limit: 500M
  restart: unless-stopped
  # init: true
  # privileged: true
  # stdin_open: true
  # tty: true
  logging:
    driver: "json-file"
    options:
      max-size: "10M"
      max-file: "3"

networks:
  traefik-net:
    external: true

services:
  sonarqube:
    <<: *default
    # image: sonarqube:community
    image: sonarqube:25.11.0.114957-community
    container_name: sonarqube-server
    depends_on:
      - db
    environment:
      - SONAR_JDBC_URL=jdbc:postgresql://db:5432/sonar
      - SONAR_JDBC_USERNAME=sonar
      - SONAR_JDBC_PASSWORD=sonar

      - SONAR_WEB_JAVAOPTS=-Xmx1G -Xms1G
      - SONAR_CE_JAVAOPTS=-Xmx4G -Xms2G
    ports:
      - "127.0.0.1:9000:9000"
    volumes:
      - sonarqube_conf:/opt/sonarqube/conf
      - sonarqube_data:/opt/sonarqube/data
      - sonarqube_extensions:/opt/sonarqube/extensions
      - sonarqube_logs:/opt/sonarqube/logs
      - sonarqube_temp:/opt/sonarqube/temp

    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik-net"
      - "traefik.http.routers.sonar.rule=Host(`sonar.example.com`)"
      - "traefik.http.routers.sonar.entrypoints=https"
      - "traefik.http.routers.sonar.tls.certresolver=ssl"
      - "traefik.http.services.sonar.loadbalancer.server.port=9000"


  db:
    <<: *default
    image: postgres:15
    container_name: sonarqube-db
    environment:
      - POSTGRES_USER=sonar
      - POSTGRES_PASSWORD=sonar
      - POSTGRES_DB=sonar
    volumes:
      - postgresql_data:/var/lib/postgresql/data

volumes:
  sonarqube_conf:
  sonarqube_data:
  sonarqube_extensions:
  sonarqube_logs:
  sonarqube_temp:
  postgresql_data: