x-default: &default
  networks:
    - traefik-net
  # cpus: 0.5
  # mem_limit: 500M
  restart: unless-stopped
  # init: true
  # privileged: true
  # stdin_open: true
  # tty: true
  logging:
    driver: "json-file"
    options:
      max-size: "10M"
      max-file: "3"


networks: 
  traefik-net:
    external: true

volumes:
  portainer_data:
  
services:
  portainer:
    <<: *default
    image: portainer/portainer-ce:lts
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    ports:
      - "127.0.0.1:9443:9443"
    hostname: portainer
    container_name: portainer
    restart: unless-stopped
    labels:
      traefik.enable: true
      traefik.docker.network: traefik-net
      traefik.http.routers.portainer.rule: Host(`portainer.example.com`)
      traefik.http.routers.portainer.entrypoints: https
      traefik.http.routers.portainer.tls.certresolver: ssl
      traefik.http.services.portainer.loadbalancer.server.port: 9000
    
