

x-default: &default
  networks:
    - traefik-net
  # cpus: 0.5
  # mem_limit: 500M
  restart: unless-stopped
  # init: true
  # privileged: true
  # stdin_open: true
  # tty: true
  logging:
    driver: "json-file"
    options:
      max-size: "10M"
      max-file: "3"

networks:
  traefik-net:

volumes:
  postgres_data:
  
services:
  postgres:
    <<: *default
    image: postgres:18.1
    container_name: postgres
    hostname: postgres
    stop_grace_period: 1m30s
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql
      - ./conf/postgresql.conf:/etc/postgresql/postgresql.conf
    shm_size: 1g # Important for PostgreSQL to perform complex queries
    command: ["postgres", "-c", "config_file=/etc/postgresql/postgresql.conf"]
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: example
